.all{
    height: 100%;
    width: 100%;
}
body{
    background-color: black;
}
#bt{
    background-color: red;
}
.can{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
